[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "src/openpi/training/lingyu_dataloader"]
	path = src/openpi/training/lingyu_dataloader
	url = https://github.com/SHR238/lingyu_dataloader.git
